/**
 * Created by abaddon on 10/23/23.
 */
.facility-header {
    --slds-c-modal-header-color-background: #d04d37;
    --slds-c-modal-header-text-color: white;
}

.facility-footer {
    display: flex;
    gap: 1%;
    justify-content: flex-end;
}

.facility-content {
    padding: 3%;
    max-height: 36vh;
    overflow: auto;
}

.facility-body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem; /* Use relative unit for font size */
}

/* Accessibility Enhancements */
button:focus,
a:focus,
input:focus {
    outline: 2px solid blue; /* Visible focus indicator */
    outline-offset: 2px;
}

/* High contrast mode enhancements */
@media screen and (-ms-high-contrast: active) {
    .facility-header {
        background-color: windowText;
        color: window;
    }

    .facility-footer button {
        border: 1px solid window;
    }
}

/* Ensure proper scaling for zoomed in users */
html {
    font-size: 100%; /* Base font size */
}

/* Use media queries for responsive text size */
@media (max-width: 600px) {
    .facility-body {
        font-size: 0.9rem; /* Slightly smaller font size for smaller screens */
    }
}
.modal {
    animation: modalbox 0.2s ease-out;
}
.slds-backdrop {
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    animation: modalbox 0.2s ease-out;
    z-index: -1;
}
