.container {
    width: 100%;
    background-color: white;
    padding: 10px;
}

.covid-title {
    font-size: 16px;
    text-align: center;
    color: #ff0000;
}
.lab-info {
    text-align: center;
    font-size: 16px;
}
