.details-container,
.radiology-datatable {
    padding-left: 20px;
    padding-right: 20px;
}

.slds-cell-fixed {
    width: 2000px;
}

.details-container {
    border: 1px solid rgb(221, 222, 221);
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    padding-top: 20px;
}

.pact-error {
    text-align: center;
    color: red;
    font-size: medium;
}

.next-button {
    margin-top: 10px;
    float: right;
}

.previous-button {
    margin-top: 10px;
}

.details-header {
    padding-left: 15px;
}

:host {
    --lwc-colorBackgroundRowSelected: rgba(209, 233, 255, 1);
}
