.slds-card__header-title {
    font-size: 16px !important;
}

.card-title {
    /* font-family: 'Salesforce Sans'; */
    font-weight: 600;
    font-size: 16px;
    color: #080707;
    display: flex;
    align-items: center;
}

a:hover,
a:focus {
    color: rgba(24, 24, 24, 0.75);
}

.slds-card__header {
    background: #f3f2f2;
    margin-bottom: 0px;
    padding: 0px;
    padding-left: 9px;
    padding-top: 5px;
    height: 34px;
    padding-bottom: 5px;
}

.slds-card__header-title {
    font-size: 16px !important;
}

.card-title {
    /* font-family: 'Salesforce Sans'; */
    font-weight: 600;
    font-size: 16px;
    color: #080707;
    display: flex;
    align-items: center;
}
