.container {
    height: fit-content;
    padding: 0.75%;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

lightning-input {
    padding: 0 0 0 0;
}

table {
    display: block;
    /* height: 100%; */
    max-height: 60vh;
    width: 100%;
    overflow-y: auto;
    padding-top: 0;
}

tbody {
    width: 100%;
    display: table;
}

th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #fbfbf9;
    /* resize: horizontal;
    overflow: hidden; */
    padding: 0.65%;
    color: #565452;
    border-right: 1px solid rgb(0, 0, 0, 0.4);
}

td {
    padding: 1%;
    /* resize: both; */
    overflow: hidden visible;
}

th:hover,
th:active {
    resize: horizontal;
    overflow: hidden;
}

th:active {
    border-right: 4px solid #2f8eda;
}

tr:hover {
    background-color: #f3f2f2;
}
/* sorting icons */

lightning-icon.icon-btn {
    display: block;
    position: absolute;
    right: 10%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 1em;
}

.header-icon {
    /* position: absolute; */
    left: 0;
    width: fit-content;
    font-size: 1em;
    padding: 0.1%;
    /* margin-left: 1%; */
}

lightning-icon.icon-btn {
    display: block;
    position: absolute;
    right: 10%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.c-link {
    color: #1b7cd1;
}

.c-link:hover {
    text-decoration: underline;
}

/* td:nth-child(1) {
    width: 2.5%;
} */

.vccHeader {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
    align-items: center;
    background-color: #f3f2f2;
    width: 100%;
    padding: 0.75%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    /* font-size: 1em; */
    border-width: 0;
    margin-bottom: 0.5rem;
    border-radius: 5px;
}

.vccHeader h1 {
    /* margin-left: 2rem; */
    align-self: center;
    font-size: 1.25em;
    white-space: nowrap;
}

.filter-btn {
    margin-left: auto;
    font-size: 1em;
}

.menu-button {
    margin-left: auto;
    font-size: 1em;
}

.filter-nav {
    display: flex;
    flex-direction: row;
    width: 75%;
}

.filter-nav button {
    width: 100%;
    padding: 0;
    margin: 0;
}

.filter-container {
    display: flex;
    flex-direction: row;
    min-height: 5rem;
    width: 100%;
}

.combobox {
    display: block;
    width: 50%;
    margin: 0 auto;
}

.spinner-container {
    height: 5rem;
    position: relative;
    z-index: 0;
}

lightning-spinner {
    position: absolute;
}

[data-id='search-bar'] {
    width: 41.66%;
    padding-bottom: 0;
    display: inline-block;
    margin: 0;
}

.date-container {
    display: flex;
    flex-direction: row;
    width: 25%;
}

.date-range {
    display: flex;
    flex-direction: row;
    margin-right: 0;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 0;
    margin-left: auto;
    gap: 1rem;
    width: 33.33%;
}

.flex-row {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
    position: relative;
}

.date-input {
    width: 25%;
}

.center {
    align-items: center !important;
    justify-content: center !important;
}

.vertial {
    display: flex;
    flex-direction: column;
}

.sortedby {
    padding-top: 0.5rem;
}

.table {
    max-height: 28rem;
    display: block;
    overflow: scroll;
}

.ehrm-filters {
    width: 41.66%;
}

.refresh-btn {
    margin-left: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    height: fit-content;
}

.search-spinner-container {
    display: block;
    position: relative;
    width: 10%;
}

.search-spinner {
    display: block;
    position: absolute;
    top: 1rem;
    left: 0;
    bottom: 0;
    right: 0;
}

.slds-text-align_center {
    color: #032d60;
    font-weight: bold;
}

.medium {
    display: flex;
    flex-direction: row;
    width: 100%;
}
