.address-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    /* background-color: aqua; */
    padding: 1%;
}

/* .items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1 rem;
    padding: 1%;
} */

.items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* row-gap: .5rem; */
    padding: 1%;
}

.items h1 {
    font-size: 1em;
    font-weight: 600;
    padding-bottom: 1%;
}

.items-header {
    display: flex;
    flex-direction: row;
}

.items-header lightning-button-menu {
    margin-left: auto;
}

.address-container div {
    /* background-color:red; */
    margin: 0;
}

.address-container > div {
    /* background-color:red; */
    width: 95%;
    background-color: #f9f9f9;
    border-style: solid !important;
    border-width: 1px;
    border-color: #706e6b;
    margin-top: 5px;
}

.card-decorator {
    width: 95%;
    background-color: #f9f9f9;
    border-style: solid !important;
    border-width: 1px;
    border-color: #706e6b;
    margin-top: 5px;
}

.address-container div > h1 {
    font-size: 1em;
    font-weight: 600;
    padding-bottom: 1%;
}

.address-header {
    display: flex;
    flex-direction: row;
    /* background-color: purple;
    color: white; */
    justify-content: center;
    align-items: center;
}

.address-header lightning-button-menu {
    margin-left: auto;
    /* margin-right: 10%; */
    font-size: 30%;
}

/* .address-header-floater{
    margin-right: auto !important;
    display:flex;

} */

.horizontal {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.vertical {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.center {
    justify-content: center;
    align-items: center;
}

.slds-accordion__content {
    /* background-color: aquamarine; */
}

.spinner-container {
    background-color: white;
}

lightning-spinner {
    background-color: white;
}
