/**
 * Modified From Salesforce Labs - Open Source Project - https://github.com/SalesforceLabs/Home-Child-Kanban/
 * SPDX-License-Identifier: BSD-3-Clause
 * For full license text, see the LICENSE file in the repo root or https://opensource.org/licenses/BSD-3-Clause
 * @description       : CSS Used for the main Kanban Board 
 * @author            : Edwin Schaeffer
 * @group             : Booz Allen
 * @last modified on  : 03-29-2023
 * @last modified by  : Edwin Schaeffer
 * Modifications Log
 * Ver   Date         Author                               Modification
 * 1.0   03-29-2023   Edwin Schaeffer                      Initial Version
 **/

.THIS {
}
.THIS .kanbanContainerDiv {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    overflow-x: auto;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
.THIS.cPageHeader {
    border-bottom: 0px !important;
}
.THIS .cardClass {
    background-color: rgb(255, 255, 255);
}
.THIS .slds-card__body {
    margin-bottom: 0;
}
.THIS .refreshSpin svg {
    -webkit-animation: rotate 0.4s;
}
.THIS .iptVISNAdjust {
    width: 125px;
}

.THIS .iptVISNAdjust:read-only {
    background-color: white;
}

.THIS .iptClosedDaysAdjust {
    width: 135px;
}
.THIS .actionAdjust {
    margin-top: 21px;
}
.THIS .slds-form-element__label {
    font-weight: bold !important;
}
