.modal-hidden {
    display: none;
}

footer {
    display: flex;
    gap: 1%;
    justify-content: flex-end;
}

.slds-modal__content {
    padding: 3%;
    max-height: 36vh;
    overflow: auto;
}
.flag-css {
    margin-top: 0px;
    z-index: 10000;
}
.body-text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.slds-backdrop {
    background-color: rgba(182, 182, 182, 0.3);
    height: 100%;
    z-index: 101;
    position: fixed;
    backdrop-filter: blur(5px);
}
.slds-transition-show {
    z-index: 10001;
}
