.cardBorder {
    border-color: #0176d3;
    cursor: pointer;
    border-width: 3px;
    background-color: #f0f8ffe8;
    box-sizing: border-box;
}

.noHover {
    pointer-events: none;
}

.cardWrapper {
    width: 70%;
    box-sizing: border-box;
}

.warningDiv {
    text-align: center;
}

.duplicateWarningTitle {
    color: red;
}

.duplicateWarningText {
    text-align: justify;
    margin: 0 auto;
    width: 75%;
}
