.container {
    display: inline-block;
    vertical-align: top;
    background-color: transparent;
    padding: 0 10px;
}

.note {
    width: 35%;
}

.app {
    width: 100%;
    margin-top: -10px;
}

:host {
    background: transparent;
}
