:host .important {
    --slds-g-color-neutral-base-80: #ba0517 !important; /* When the lightning-icon is on a background that is disabled this will over ride the fill color */
}
.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content {
    /* margin: 0 auto; */
    display: flex;
    align-items: flex-start;
}

.icon {
    padding-top: 0.15rem;
}

.message {
    font-size: 14px;
}

.message-small {
    font-size: 10px !important;
}

.warning {
    --slds-c-icon-color-foreground-default: #fe9339;
    color: #181818;
}

.error {
    --slds-c-icon-color-foreground-default: #ea001e;
    color: #ea001e;
}

.important {
    --slds-c-icon-color-foreground-default: #ba0517;
    color: #ba0517;
}

.note {
    --slds-c-icon-color-foreground-default: #032d60;
    color: #032d60;
}

.success {
    --slds-c-icon-color-foreground-default: #2e844a;
    color: #2e844a;
}
