.font-bold {
    font-weight: bold;
}
.font-size {
    font-size: 12px;
}
.font-color {
    color: #444;
}
.boxWidth {
    width: 98%;
    max-height: 100px;
    overflow-y: auto;
}
.error-font-size {
    font-size: 14px;
}
.error-font-color {
    color: #c80000;
}
