.outer {
    position: relative;
    overflow: hidden;
}

.spacer {
    display: block;
    position: relative;
    height: var(--spacer-height);
    width: 100%;
}

.sticky {
    position: relative;
    overflow: hidden;
    top: 0;
    z-index: var(--sticky-index);
}

.border {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #b0c4e0;
}

.rounded {
    min-width: 100px;
    display: block;
}

.text-color {
    color: black;
}

.conditional {
    overflow-y: auto;
    height: auto;
    max-height: var(--conditional-height);
}
