.blood-pressure {
    display: grid;
    grid-template-columns: 1fr 1fr; /* using this notation instead of "repeat (3, 1fr)" to make it more obvious that this a grid with 3 columns */
    grid-template-rows: 1fr;
    column-gap: 2rem;
}

/* aligning date range and clear filters buttons*/
.input-group {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}

.measurement {
    display: flex;
    flex-direction: column;
    border-bottom: 0.5px solid lightgray;
    padding: 0.5rem;
    gap: 0.5rem;
}

.reference-range {
    padding-bottom: 2rem;
}

.reference-range > h3 {
    font-size: 1.1rem;
    font-weight: bolder;
}

.two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.reading {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.blood-pressure-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.measurement-container {
    display: flex;
    flex-direction: column;
    gap: 0.65rem;
}

.label {
    font-size: 0.9rem;
    font-weight: 400;
}

.value {
    font-size: 1.1rem;
    font-weight: bolder;
}

.timestamp {
    font-size: 1.1rem;
    font-weight: bolder;
}

:host .icon-high {
    --sds-c-icon-color-foreground-default: red;
}

:host .icon-normal {
    --sds-c-icon-color-foreground-default: green;
}

:host .icon-low {
    --sds-c-icon-color-foreground-default: blue;
}
